@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical, needs height */
    height: 100vh; /*100vh = tela completa*/
    overflow: hidden; /* não mostra scroll bars */
    margin: 0;
}
