@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

h1 {
    text-align: center;
}

/* card related css */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical, needs height */
    min-height: 100vh; /*100vh = tela completa*/
    margin: 0;

     /* was part of the original project, but I left out out in mine */
       /* overflow: hidden; */ /* não mostra scroll bars */
}

header {
    width: 100%;
    text-align: center;
    background-color: rgb(90, 90, 94);
    color: white;
    margin-bottom: 1rem;
    padding: 1rem;
}
    header > h3, h4 {
        margin: 0;
    }

.container {
    display: flex; /* as children ficam em linha */
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 80vh;
    border-radius: 5vh;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 1vh;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    text-shadow: 4px 4px 8px rgba(0,0,0,1);
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s; /* time to the card expansion */
}


.coder-quote {
    width: 100%;
    background-color: rgb(90, 90, 94);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

article {
    background-color: white;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 400px;
}
    article p {
        text-align: justify;
    }

.attribution {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
    .attribution figure {
        margin: 0.5rem;
    }
    .attribution p {
        
        text-align: center;
        font-size: 0.8rem;
    }
    .attribution-social {
        margin: 0.5rem;
    }
        .attribution__button {
            padding: 0.2rem;
            font-size: 1.2rem;
        }
            .attribution__button:hover {
                color: blue;
            }

@media(max-width: 480px){
    /* think about */
}